/*  your css code here. If applicable */
.img{
	width: 400px;
	height: 300px;
	object-fit: cover;
}
.container{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap:20px;
}
.btn{
	padding: 5px;
	background-color: #fe0000;
	color: white;
	border-radius: 5px;
}
.info-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	gap:10px;
}